.table {
  color: blueviolet !important;
}

.body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.article {
  font-weight: bolder;
}

.box {
  background-color: goldenrod;
  height: 100px;
  width: 600px;
  margin: 20px 15px 50px 15px;
}

.span{
  display: block;
}
