.main {
  height: 700px;
  background: #eeeff1;
  padding-left: 382px;
  padding-top: 59px;
  margin-bottom: 48px;
}

.navigation {
  overflow: hidden;
  gap: 42px;
}

p,
h2,
#project,
#navigation_text,
#button_text,
.header,
.footer-info__rights,
.footer-info__name {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 164.063%;
  font-size: 16px;
}

li {
  float: left;
  color: #34547a;
  text-align: center;
  padding: 16px;
}

#navigation_text {
  color: var(--accent, #34547a);
  font-weight: 500;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.header {
  margin-top: 126px;
  margin-bottom: 69px;
  width: 541px;
  height: 45px;
  color: #000;
  font-size: 48px;
  font-weight: 500;
}

.graytext {
  width: 540px;
  height: 67px;
  color: #727272;
  font-weight: 400;
}

.button {
  margin-top: 71px;
  background: #34547a;
  height: 63px;
  width: 225px;
  display: inline-block;
}

#button_text {
  color: #fff;
  text-align: center;
  font-weight: 400;
  letter-spacing: 1.6px;
}

.aboutme {
  margin-bottom: 105px;
  margin-left: 685px;
  width: 540px;
  height: 147px;
  text-align: center;
}

h2 {
  color: #000;
  font-size: 32px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 38px;
}

.projects {
  background: var(--accent, #34547a);
  width: 1920px;
  height: 250px;
}

.container {
  padding: 100px 0px 100px 409px;
  display: flex;
}

#project {
  margin-left: 0px;
  width: 141px;
  height: 50px;
  margin-right: 48px;
}

h3 {
  font-size: 23px;
  font-weight: 500;
}

.text {
  color: #fff;
  font-family: Roboto;
  width: 60px;
  height: 50px;
  float: right;
}

.video {
  background: #eeeff1;
  width: 1920px;
  height: 909px;
  padding-top: 95px;
}

.howdoiwork {
  margin-bottom: 63px;
  margin-left: 685px;
  width: 540px;
  height: 147px;
  text-align: center;
}

.vid {
  margin-left: 405px;
}

footer {
  width: 1517px;
  height: 151px;
  background: var(--accent, #34547a);
  padding-left: 406px;
  padding-top: 42px;
}

.footer-info__name {
  color: #fff;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 11px;
}

.footer-info__rights {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
}
