.main {
  margin: 0 auto;
  background: #eeeff1;
  padding-top: 59px;
  padding-left: 15%;
  margin-bottom: 48px;
}

.navigation {
  overflow: hidden;
  gap: 42px;
}

p,
h2,
#project,
#navigation_text,
#button_text,
.header,
.footer-info__rights,
.footer-info__name {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 164.063%;
  font-size: 16px;
}

li {
  float: left;
  color: #34547a;
  text-align: center;
  padding: 16px;
}

#navigation_text {
  color: var(--accent, #34547a);
  font-weight: 500;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.header {
  margin-top: 126px;
  margin-bottom: 69px;
  color: #000;
  font-size: 48px;
  font-weight: 500;
}

.graytext {
  width: 540px;
  height: 67px;
  color: #727272;
  font-weight: 400;
}

.button {
  margin-top: 71px;
  background: #34547a;
  height: 63px;
  width: 225px;
  display: inline-block;
}

#button_text {
  color: #fff;
  text-align: center;
  font-weight: 400;
  letter-spacing: 1.6px;
}

.aboutme {
  margin-bottom: 105px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: #000;
  font-size: 32px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 38px;
}

.projects {
  background: var(--accent, #34547a);
  max-height: 300px;
  min-height: 200px;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 23px;
  font-weight: 500;
}

.text {
  color: #fff;
  font-family: Roboto;
  float: right;
}

.video {
  background: #eeeff1;
  padding-top: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.howdoiwork {
  margin-bottom: 63px;
  text-align: center;
}

footer {
  height: 151px;
  background: var(--accent, #34547a);
  padding-left: 15px;
  padding-top: 42px;
}

.footer-info__name {
  color: #fff;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 11px;
}

.footer-info__rights {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
}

/* mobile */

@media screen and (min-width: 375px) and (max-width: 500px) {
  .main {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    margin-bottom: 0.5em;
  }

  .navigation {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    border-bottom: #3b3737 1px solid;
  }

  .navigation li {
    padding: 0px;
  }

  .header {
    margin-top: 0px;
    text-align: center;
  }

  .graytext {
    align-self: center;
    max-width: 350px;
  }

  .button {
    width: 100%;
    height: 70px;
    margin-top: 45px;
  }

  .aboutme {
    padding: 20px 0px;
  }

  .projects {
    gap: 40px;
    padding: 20px;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .video {
    padding: 15px 20px;
  }

  footer {
    height: 25%;
    padding: 10px 0px;
    text-align: center;
  }
}

/* tablets */

@media screen and (min-width: 501px) and (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    margin-bottom: 0.5em;
  }

  .navigation {
    margin: 0 auto;
    width: 70%;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border-bottom: #3b3737 1px solid;
  }

  .navigation li {
    padding: 0px;
  }

  .header {
    margin-top: 20px;
    text-align: center;
  }

  .graytext {
    align-self: center;
    max-width: 400px;
  }

  .button {
    width: 200px;
    height: 80px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .projects {
    gap: 40px;
    padding: 20px;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .text {
    float: none;
  }

  .video {
    padding: 15px 20px;
  }

  footer {
    height: 25%;
    padding: 10px 0px;
    text-align: center;
  }
}
